@font-face {
  font-family: "Eurofurence";
  src: url("../../fonts/EurofurenceRegular/EurofurenceRegular.eot");
  src: url("../../fonts/EurofurenceRegular/EurofurenceRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/EurofurenceRegular/EurofurenceRegular.woff") format("woff"),
  url("../../fonts/EurofurenceRegular/EurofurenceRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Eurofurence";
  src: url("../../fonts/EurofurenceBold/EurofurenceBold.eot");
  src: url("../../fonts/EurofurenceBold/EurofurenceBold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/EurofurenceBold/EurofurenceBold.woff") format("woff"),
  url("../../fonts/EurofurenceBold/EurofurenceBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "EurofurenceItalic";
  src: url("../../fonts/EurofurenceItalic/EurofurenceItalic.eot");
  src: url("../../fonts/EurofurenceItalic/EurofurenceItalic.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/EurofurenceItalic/EurofurenceItalic.woff") format("woff"),
  url("../../fonts/EurofurenceItalic/EurofurenceItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "EurofurenceLight";
  src: url("../../fonts/EurofurenceLight/EurofurenceLight.eot");
  src: url("../../fonts/EurofurenceLight/EurofurenceLight.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/EurofurenceLight/EurofurenceLight.woff") format("woff"),
  url("../../fonts/EurofurenceLight/EurofurenceLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "EurofurenceBoldItalic";
  src: url("../../fonts/EurofurenceBoldItalic/EurofurenceBoldItalic.eot");
  src: url("../../fonts/EurofurenceBoldItalic/EurofurenceBoldItalic.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/EurofurenceBoldItalic/EurofurenceBoldItalic.woff") format("woff"),
  url("../../fonts/EurofurenceBoldItalic/EurofurenceBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "EurofurenceLightItalic";
  src: url("../../fonts/EurofurenceLightItalic/EurofurenceLightItalic.eot");
  src: url("../../fonts/EurofurenceLightItalic/EurofurenceLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/EurofurenceLightItalic/EurofurenceLightItalic.woff") format("woff"),
  url("../../fonts/EurofurenceLightItalic/EurofurenceLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}